:root {
  --basic-white: #ffffff;
  --basic-dark-blue: #293449;
  --basic-light: rgba(0, 0, 0, 0.0001);
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-orange: #FFBF47;
  --basic-blue: #3BBCE3;
  --basic-pink: #DC91D8;
  --basic-light-green: #8ED78F;
  --basic-orange-dark: #FFC047;
  --basic-light-beige: #F9F5F0;
  --basic-light-blue: #F1F5F7;
  --basic-dark: #000000;
  --basic-violet: #32425C;
  --basic-gold: #FFD180;
  --basic-beige: #F7F3EC;
  --basic-purple-light: #F2F6F8;
  --basic-dark-blue-icon: #212A3A;
  --basic-gray: #EAEAEA;
  --basic-gray-light: #E5E5E5;

  --white-rgb: 255, 255, 255;
  --white: rgb(var(--white-rgb));
  --button-bg-white: rgba(var(--white-rgb), 0.3);
  /*--button-bg-disabled: rgba(var(--white-rgb),0.3);
  --button-bg-focus: rgb(--white-rgb);*/

  --black-rgb: 0, 0, 0;
  --black: rgb(var(--black-rgb));
  --button-bg-black: rgba(var(--black-rgb), 0.25);

  --violet-rgb: 50, 66, 92;
  --violet: rgb(var(--violet-rgb));
  --button-bg-violet: rgba(var(--violet-rgb), 0.3);

  --logo: rgb(var(--black-rgb));
  --logo-box-shadow: rgba(var(--black-rgb), 0.24);
}

@font-face {
  font-family: "Cuprum";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/cuprum/cuprum-regular.woff2") format("woff2"), 
       url("../fonts/cuprum/cuprum-regular.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/cuprum/cuprum-bold.woff2") format("woff2"), 
       url("../fonts/cuprum/cuprum-bold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/cuprum/cuprum-italic.woff2") format("woff2"), 
       url("../fonts/cuprum/cuprum-italic.woff") format("woff");
}

@font-face {
  font-family: "PTSans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/pt-sans/pt-sans-regular.woff2") format("woff2"), 
       url("../fonts/pt-sans/pt-sans-regular.woff") format("woff");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Глобальные параметры */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.wrapper-page {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.button {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
}

/* Заголовок h2*/

.heading {
  font-size: 30px;
  text-transform: uppercase;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Блок Header */

.header {
  background-color: var(--basic-light-blue);
}

.header-top {
  background-color: var(--basic-dark-blue);
}

.menu-top {
  display: flex;
  margin-bottom: 15px;
}

.header-top a {
  align-self: center;
  color: var(--basic-white);
  font-size: 18px;
  padding-top: 9px;
  padding-left: 17px;
  padding-bottom: 9px;
  padding-right: 15px;
}

.search-button:hover,
.menu-top .bookmarks:hover::before,
.menu-top .basket:hover::before {
 opacity: 1;
}

.menu-top .bookmarks {
  position: relative;
  margin-right: 26px;
  padding-left: 23px;
}

.menu-top .basket {
  position: relative;
  padding-left: 30px;
  padding-right: 28px;
}

.basket-active {
  background-color: var(--basic-red);
}

.menu-top .bookmarks::before,
.menu-top .basket::before {
  display: block;
  content: "";
  background-color: var(--basic-dark-blue);
  background-repeat: no-repeat;
  opacity: 0.3;
  position: absolute;
  top: 12px;
  left: 0;
}


.menu-top .bookmarks::before {
  width: 14px;
  height: 16px;
  background-image: url(../img/bookmark-icon.svg);
}

.menu-top .basket::before {
  width: 15px;
  height: 15px;
  background-image: url(../img/icon-basket.svg);
  background-color: transparent;
  left: 10px;
}

.menu-top .checkout {
  background-color: var(--basic-green);
}

.logo {
  display: flex;
  justify-content: center;
  background-color: var(--basic-red);
  position: relative;
  width: 220px;
  height: 42px;
  margin-right: 17px;
}

.logo::after {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--logo-box-shadow);
}

.menu-search {
  display: flex;
  align-self: center;
  margin-right: auto;
  position: relative;
}

.site-search {
  color: var(--basic-white);
  background-color: var(--basic-dark-blue);
  font-size: 18px;
  border: none;
  padding-left: 25px;
}

.search-button {
  position: absolute;
  top: 2px;
  left: 0;
  width: 17px;
  height: 17px;
  border: none;
  background-color: var(--basic-dark-blue);
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.site-search::placeholder {
  color: var(--basic-white);
}
/* Header-middle*/

.header-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-left: 33px;
}

.header-middle h2 {
  max-width: 200px;
  color: var(--basic-red);
  font-style: italic;
  font-size: 16px;
  font-weight: normal;
  line-height: 23px;
  margin-top: 30px;
}

.contact-tel {
  margin-top: 30px;
  margin-left: 41px;
}

.link-header {
  position: relative;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
  padding-left: 74px;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-right: 40px;
  margin-bottom: 3px;
  margin-right: 10px;
}

.link-header::before {
  content: "";
  width: 19px;
  height: 19px;
  display: block;
  position: absolute;
  top: 10px;
  left: 39px;
  background-color: var(--basic-light);
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
}

.tagline-header {
  font-size: 14px;
  color: var(--basic-violet);
  margin: 0;
  margin-top: 10px;
  text-align: center;
}

.my-office a {
  font-size: 21px;
  color: var(--basic-dark);
  background-color: var(--basic-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 22px;
}

.my-office .input {
  position: relative;
  margin-right: 10px;
  padding-left: 45px;
  padding-right: 27px;
}

.my-office .input::before {
  display: block;
  content: "";
  width: 20px;
  height: 17px;
  position: absolute;
  top: 14px;
  left: 17px;
  background-color: var(--basic-white);
  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
}

.my-office .user-name {
  padding-left: 56px;
}

/*Catalog my-office-pafe*/

.my-office-page {
  margin-top: 32px;
  padding-left: 5px;
}

.my-office-page .user-name {
  position: relative;
  margin-right: 0;
  padding-right: 14px;
}

.my-office-page .user-name::before {
  content: "";
  width: 20px;
  height: 18px;
  position: absolute;
  top: 13px;
  left: 15px;
  background-color: var(--basic-white);
  background-image: url(../img/icon-user.svg);
  background-repeat: no-repeat;
  background-position: center;

}

.my-office-page .exit {
  width: 20px;
  height: 17px;
  background-color: var(--basic-white);
  background-image: url(../img/icon-logout.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.orders-cabinet {
  text-align: center;
  margin-right: 32px;
  margin-top: 10px;
}

.orders-cabinet .link {
  font-size: 16px;
  color: var(--basic-violet);
  background: none;
  padding: 0;
}

.orders-cabinet .my-orders {
  position: relative;
  padding-right: 30px;
  padding-left: 30px;
}

.orders-cabinet .my-orders::after {
  content: "";
  width: 4px;
  height: 4px;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--basic-violet);
  border-radius: 50%;
}

.main-menu .list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--basic-violet);
  box-shadow: inset 0px -5px 0px var(--basic-dark-blue);
  padding: 17px 0 17px;
  margin-bottom: 60px;
}

.main-menu li:first-child {
  margin-left: 22px;
}

.main-menu li:last-child {
  margin-right: 18px;
}

.main-menu a {
  color: var(--basic-white);
  font-size: 18px;
  padding-top: 16px;
  padding-bottom: 20px;
  padding-left: 27px;
  padding-right: 24px;
}

/*Catds and Slider*/

.cards-and-slider {
  padding-top: 60px;
}

.list-cards-and-slider {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.cards-and-slider .inner:not(:nth-child(4)) {
  position: relative;
  width: 300px;
  font-size: 24px;
  font-weight: 700;
  color: var(--basic-white);
  padding-top: 28px;
  padding-left: 23px;
  padding-bottom: 30px;
  padding-right: 23px;
}

.inner-tool a {
  border: 2px solid var(--button-bg-violet);
}

.cards-and-slider .inner-material {
  background-color: var(--basic-orange);
}

.cards-and-slider .inner-tool {
  background-color: var(--basic-blue);
}

.cards-and-slider .inner-equipment {
  background-color: var(--basic-pink);
}

.cards-and-slider .inner-sale {
  background-color: var(--basic-light-green);
}

.cards-and-slider .inner-delivery {
  background-color: var(--basic-orange-dark);
}

.new {
  position: absolute;
  width: 100px;
  font-size: 14px;
  font-weight: normal;
  display: block;
  right: -20px;
  top: 5px;
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
  transform: rotate(45deg);
}

.new::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  right: -7px;
  display: block;
  border: 30px solid var(--basic-white);
  border-bottom-color: var(--basic-red);
  border-top-width: 0;
  border-right-color: transparent;
  border-left-color: transparent;
  z-index: -1;
}

.cards-and-slider .caption {
  font-weight: 700;
  position: relative;
  font-size: 24px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 14px;
}

.inner .button {
  background-color: var(--button-bg-white);
}

.cards-and-slider .inner::after {
  content: "";
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  width: 80px;
  height: 70px;
  display: block;  
  top: 25px;
}

.inner-material::after {  
  background-image: url(../img/materials-icon.svg);
  right: 40px;
}

.inner-tool::after {
  background-image: url(../img/tool-icon.svg);
  right: 30px;
}

.inner-equipment::after {
  background-image: url(../img/technique-icon.svg);
  right: 20px;
}

.inner-sale::after {
  background-image: url(../img/discount-icon.svg);
  right: 40px;
}

.inner-delivery::after {
  background-image: url(../img/delivery-icon.svg);
  right: 40px;
}

/*Слайдер*/

.item-slider {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  position: relative;
}

.slider {
  position: relative;
  padding: 0;
  width: 620px;
  color: var(--basic-white);

}

/*Карточка слайда*/

.advertising-card {
  width: 100%;
  background-repeat: no-repeat;
  background-image: url(../img/bg-slider-mini-puncher.jpg);
  padding-bottom: 32px;
}

.advertising-card-rotary-hammers {
  background-image: url(../img/bg-slider-hammer-drill.jpg);
}

.slide-opacity {
  padding-top: 23px;
  padding-bottom: 5px;
  margin-bottom: 105px;
  background: var(--button-bg-white);
}

.subject-slider {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-left: 24px;
  margin-bottom: 10px;
}

.slide {
  display: none;
}

.active-slide {
  display: block;
}

.slide p {
  font-size: 18px;
  margin-left: 24px;
  margin-bottom: 10px;
}

.slide a {
  margin-left: 24px;
}

/*Управление слайдером*/

.slider-dots {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 210px;
  left: 295px;
}

.slider-dots li {
  margin-left: 5px;
  margin-right: 5px;
}

.slider-dots .control {
  background-color: var(--basic-white);
  width: 10px;
  height: 10px;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
}

.slider-dots .control-active {
  background-color: var(--basic-red);
}

.slider-control .control {
  width: 22px;
  height: 40px;
  position: absolute;
  top: 124px;
  border: none;
  background-image: url(../img/icon-left.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.slider-control .control-left {
  left: 30px;
}

.slider-control .control-right {
  transform: rotate(180deg);
  right: 15px;
}

/*Блок популярные товары*/

.popular-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 28px;
  padding-right: 15px;
  margin-top: 60px;
  background-color: var(--basic-light-beige);
}

.popular-block h2 {
  font-size: 30px;
  font-weight: normal;
  color: var(--basic-violet);
}

.list-popular-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.list-popular-block li,
.list-catalog li {
  display: flex;
}

/*Карточки товаров*/

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-family: "PTSans", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 700;
  width: 200px;
  border: 1px solid var(--basic-gray);
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 21px;
  text-align: center;
}

.product-card h3 {
  margin-bottom: 10px;
}

.old-price {
  font-size: 17px;
  color: var(--basic-gray);
  display: block;
  margin-bottom: 14px;
}

.current-price {
  font-size: 17px;
  color: var(--basic-white);
  background-image: url(../img/red-button.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 32px;
  padding-bottom: 10px;
  padding-right: 44px;
  cursor: pointer;
}

.product-card .new {
  right: -20px;
  color: var(--basic-white);
}

/*Популярные производители*/

.popular-card-manufacturers {
  width: 220px;
  height: 145px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-popular-manufacturers,
.list-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
}

.popular-card-manufacturers a {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--basic-gray);
  text-align: center;
}

.popular-card-manufacturers img {
  align-self: center;
}

/*Блок service*/

.service {
  background-color: var(--basic-light-blue);
  padding-top: 64px;
  padding-bottom: 100px;
  margin-bottom: 70px;
}

.service p,
.about-company p,
.maps p {
  font-family: "PTSans", "Tahoma", sans-serif;
}

.service-lead {
  width: 395px;
}

.tabs {
  display: flex;
  align-items: center;
  margin-top: 70px;
  position: relative;
}

.tabs-list-link li {
  display: flex;
  width: 240px;
  margin-right: 80px;
}

.tabs .link-tabs {
  width: 100%;
  font-size: 21px;
  background-color: var(--basic-violet);
  padding-top: 14px;
  padding-bottom: 17px;
  padding-left: 22px;
}

.tabs .active {
  color: var(--basic-violet);
  background-color: var(--basic-white);
}

.tabs .subtitle {
  font-size: 30px;
  font-weight: 400;
  color: var(--basic-violet);
  text-transform: uppercase;
  margin-top: 10px;
}

.tabs .credit-button {
  border-radius: 2px;
}

.item-tabs {
  display: none;
}

.item-tabs-active {
  display: block;
}

.text-tabs {
  width: 315px;
  padding-right: 35px;
}

.item-tabs::after {
  content: "";
  display: block;
  width: 468px;
  height: 261px;
  position: absolute;
  top: 0;
  right: 0;
}

.delivery-tabs::after {
  background-image: url(../img/delivery-icon.png);
}

.guarantee-tabs::after {
  background-image: url(../img/guarantee-icon.png);
}

.credit-tabs::after {
  background-image: url(../img/credit-icon.png);
}

/*about-company-and-contacts*/

.about-company-and-contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about-company {
  max-width: 480px;
}

.about-company .slogan {
  padding-right: 35px;
}

.delivery-methods {
  padding-left: 37px;
  font-size: 18px;
  margin-bottom: 42px;
}

.delivery-methods li {
  margin-bottom: 12px;
}

.maps {
  display: flex;
  flex-direction: column;
}

.maps-slogan {
  max-width: 180px;
  margin-top: 0;
  margin-bottom: 30px;
}

.about-company .button {
  padding-left: 40px;
  padding-right: 40px;
}

.maps .maps-link {
  background-color: transparent;
  margin-bottom: 20px;
}

/*Блок хлебные крошки*/

.breadcrumbs {
  display: flex;
  margin-top: 20px;
}

.breadcrumbs li {
  align-self: flex-start;
  position: relative;
  margin-right: 42px;
}

.breadcrumbs a {
  font-family: "PTSans", "Tahoma", sans-serif;
  text-transform: uppercase;
  color: var(--basic-dark);
}


.breadcrumbs .home {
  display: block;
  width: 14px;
  height: 20px;
  background-image: url(../img/icon-home.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs li::before {
  content: "";
  width: 8px;
  height: 12px;
  display: block;
  position: absolute;
  top: 5px;
  right: -24px;
  background-color: var(--basic-white);
  background-image: url(../img/icon-right-small.svg);
}

.breadcrumbs li:last-child::before {
  display: none;
}
/*Catalog*/ 

.wrap-catalog {
  display: flex;
  align-items: baseline;
}

.catalog .heading {
  font-weight: 400;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  background-color: var(--basic-light-blue);
  color: var(--basic-violet);
}

.list-catalog li {
  margin-bottom: 20px;
}

/*SORT*/

.sort {
  display: flex;
  align-items: baseline;
}

.list-sort {
  display: flex;
}

.list-sort li {
  margin-right: 65px;
}

/*форма с фильтром*/

.form-filter {
  width: 220px;
  margin-right: 20px;
}

.catalog-subtitle,
.sort {
  font-family: "PTSans", "Tahoma", sans-serif;
  background-color: var(--basic-beige);
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  margin: 0;
}

.sort .catalog-subtitle {
  margin-right: auto;
  padding: 0;
}

/*Переключение страниц*/

.pagination {
  display: flex;
}

.button-pagination {
  font-family: "PTSans", "Tahoma", sans-serif;
  color: var(--basic-dark);
  border: 1px solid var(--basic-gray-light);
  border-radius: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
}

.button-pagination-next {
  padding-left: 32px;
  padding-right: 32px;
}

.button-pagination-active {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

/*Пара слов о перфораторах*/

.about-rotary-hammers {
  background-color: var(--basic-light-blue);
  padding-top: 64px;
  padding-left: 20px;
  padding-bottom: 70px;
  margin-top: 60px;
}

.about-rotary-hammers .heading {
  font-weight: 400;
}

/* Подвал */

.footer {
  background-color: var(--basic-violet);
}

.footer-top {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin-bottom: 54px;
}

.footer-top .footer-menu {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.footer-menu .list {
  display: flex;
  justify-content: space-between;
}

.footer .contact-tel {
  font-size: 18px;
  color: var(--basic-white);
}

.adress-footer {
  margin-top: 22px;
  margin-bottom: 10px;
}

.footer a {
  color: var(--basic-white);
  font-size: 18px;
}

.footer-top-menu {
  margin-bottom: 34px;
}

.footer-bottom-menu {
  margin-left: 32px;
}

.footer-bottom-menu a {
  color: var(--basic-gold);
}

.footer-bottom {
  background-color: var(--basic-dark-blue);
}

.footer-bottom .container {
  display: grid;
  grid-template-columns: 3fr 5fr 2fr 2fr;
  align-items: center;
  justify-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-bottom p {
  color: var(--basic-white);
  font-size: 16px;
}

.socials {
  display: flex;
}

.social-icon {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-color: var(--basic-dark-blue-icon);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: inline-block; /*Без display иконок не видно*/
  vertical-align: top;
  margin-right: 5px;
}

.social-icon-vk {
  background-image: url(../img/icon-vk.svg);
}

.social-icon-facebook {
  background-image: url(../img/icon-fb.svg);
}

.social-icon-instagram {
  background-image: url(../img/icon-insta.svg);
}

.feedback-email {
  padding-left: 20px;
}

.developer-site {
  padding-left: 60px;
}

.footer .gold {
  color: var(--basic-gold);
  font-size: 16px;
}