:root {
  --basic-white: #ffffff;
  --basic-dark-blue: #293449;
  --basic-light: rgba(0, 0, 0, 0.0001);
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-orange: #FFBF47;
  --basic-blue: #3BBCE3;
  --basic-pink: #DC91D8;
  --basic-light-green: #8ED78F;
  --basic-orange-dark: #FFC047;
  --basic-light-beige: #F9F5F0;
  --basic-light-blue: #F1F5F7;
  --basic-dark: #000000;
  --basic-violet: #32425C;
  --basic-gold: #FFD180;
  --basic-beige: #F7F3EC;
  --basic-purple-light: #F2F6F8;
}

@font-face {
  font-family: "Cuprum";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/cuprum/cuprum-regular.woff2") format("woff2"), 
       url("../fonts/cuprum/cuprum-regular.woff") format("woff");
}

@font-face {
  font-family: "PTSans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/pt-sans/pt-sans-regular.woff2") format("woff2"), 
       url("../fonts/pt-sans/pt-sans-regular.woff") format("woff");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Глобальные параметры */
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.heading {
  font-size: 30px;
  text-transform: uppercase;
}

.list {
  list-style: none;
}
/* Блок Header */

.header {
  background-color: var(--basic-light-blue);
}

.header-top {
  background-color: var(--basic-dark-blue);
}

.header-top a {
  color: var(--basic-white);
  font-size: 18px;
}

.logo {
  background-color: var(--basic-red);
}

.site-search {
  color: var(--basic-white);
  background-color: var(--basic-dark-blue);
  font-size: 18px;
}

.site-search::placeholder {
  color: var(--basic-white);
}

.header-top a:last-child {
  background-color: var(--basic-green);
}

.header-middle h2 {
  color: var(--basic-red);
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

.link-header {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: var(--basic-red);
}

.tagline-header {
  font-size: 14px;
  color: var(--basic-violet);
}

.my-office a {
  font-size: 21px;
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.main-menu .list {
  background-color: var(--basic-dark-blue);
}

.main-menu a {
  color: var(--basic-white);
  font-size: 18px;
}

/*Блок service*/

.service {
  background-color: var(--basic-light-blue);
}

.tabs a {
  font-size: 21px;
  background-color: var(--basic-violet);
}

.tabs .active {
  color: var(--basic-violet);
  background-color: var(--basic-white);
}

.tabs .subtitle {
  font-size: 36px;
  font-weight: 400;
  color: var(--basic-violet);
  text-transform: uppercase;
}

.tabs .credit-button {
  text-transform: uppercase;
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.item-tabs {
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat;
  background-size: auto;
}

.delivery-tabs {
  background-image: url(../img/delivery-icon.png);
}

.guarantee-tabs {
  background-image: url(../img/guarantee-icon.png);
}

.credit-tabs {
  background-image: url(../img/credit-icon.png);
}

.about-company li {
  font-size: 18px;
}

.about-company a,
.maps a {
  background-color: var(--basic-red);
  text-transform: uppercase;
  font-size: 14px;
  color: var(--basic-white);
}

.maps .maps-link {
  background-color: transparent;
}

.footer {
  background-color: var(--basic-violet);
}

.footer .contact-tel {
  font-size: 18px;
  color: var(--basic-white);
}

.footer a {
  color: var(--basic-white);
  font-size: 18px;
}

.footer-bottom-menu a {
  color: var(--basic-gold);
}

.footer-bottom {
  background-color: var(--basic-dark-blue);
}

.footer-bottom p {
  color: var(--basic-white);
  font-size: 16px;
}

.social-icon {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  width: 44px;
  height: 44px;
  display: inline-block; /*Без display иконок не видно*/
  vertical-align: top;
}

.social-icon-vk {
  background-image: url(../img/icon-vk.svg);
}

.social-icon-facebook {
  background-image: url(../img/icon-fb.svg);
}

.social-icon-instagram {
  background-image: url(../img/icon-insta.svg);
}

.footer .gold {
  color: var(--basic-gold);
  font-size: 16px;
}